:root {
  --light: #f9f9f9;
  --primary: #f5a30a;
  --bright: #04e2b7;
  --secondary: #038298;
  --accent: #015268;
  --dark-accent: #172347;
  --dark: #090f06;
  --star-color: 255, 255, 255;
  --star-opacity: 0.9;

  font-size: 17px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /*this really is magic */
  scroll-behavior: smooth;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  background-color: var(--light);
}
main {
  z-index: 10;
  position: relative;
  background-color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
}

h3 {
  font-weight: 400;
  margin-bottom: 0.6rem;
  text-align: center;
}

strong {
  color: var(--accent);
}
em {
  color: var(--accent);
  font-style: normal;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row {
  margin: 0 auto;
  justify-content: center;
}
header {
  height: 94vh;
  color: var(--light);
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}
.hero {
  text-align: center;
  z-index: 1000;
}
.hero-title {
  font-size: 4rem;
  letter-spacing: 0.2ch;
}
.hero-sub-title {
  font-size: 1.4rem;
  letter-spacing: 0.2ch;
  /* font-family: "Crimson Text", serif; */
  margin-bottom: 1rem;
  font-weight: 300;
}
.hero-link {
  font-size: 1.2rem;
  color: var(--light);
  font-weight: 300;
  border: 1px solid var(--light);
  display: block;
  width: 11rem;
  height: 2.7rem;
  line-height: 2.7rem;
  margin: 1rem auto;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}
.hero-link.primary {
  color: var(--dark);
  background-color: var(--light);
}
.hero-link:hover {
  font-size: 1.3rem;
}

.bg {
  position: absolute;
  background-color: #172347;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    10deg,
    var(--bright) 13%,
    var(--secondary) 35%,
    var(--accent) 50%,
    var(--dark-accent) 60%,
    var(--dark) 90%
  );
  animation: 12s infinite background-gradient linear alternate;
}

/*Thanks to LunarLogic's aurora repo https://github.com/LunarLogic/auroral */
.stars {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 1px;
  height: 1px;
  border-radius: 10%;
  --star-full-color: rgba(var(--star-color), var(--star-opacity));
  background: var(--star-full-color);
  box-shadow: 98vw 7vh 0 2px var(--star-full-color),
    68vw 18vh 0 2px var(--star-full-color),
    30vw 38vh 0 1px var(--star-full-color),
    67vw 16vh 0 2px var(--star-full-color),
    79vw 22vh 0 2px var(--star-full-color),
    83vw 18vh 0 1px var(--star-full-color),
    82vw 35vh 0 2px var(--star-full-color),
    55vw 37vh 0 1px var(--star-full-color),
    92vw 39vh 0 2px var(--star-full-color),
    93vw 44vh 0 2px var(--star-full-color),
    33vw 14vh 0 2px var(--star-full-color),
    97vw 33vh 0 1px var(--star-full-color),
    74vw 1vh 0 2px var(--star-full-color),
    18vw 43vh 0 1px var(--star-full-color),
    12vw 15vh 0 1px var(--star-full-color),
    8vw 24vh 0 1px var(--star-full-color),
    39vw 25vh 0 1px var(--star-full-color),
    8vw 31vh 0 2px var(--star-full-color),
    52vw 34vh 0 1px var(--star-full-color),
    47vw 11vh 0 2px var(--star-full-color),
    87vw 26vh 0 2px var(--star-full-color),
    44vw 17vh 0 2px var(--star-full-color),
    21vw 12vh 0 2px var(--star-full-color),
    98vw 13vh 0 2px var(--star-full-color),
    26vw 36vh 0 2px var(--star-full-color),
    29vw 49vh 0 1px var(--star-full-color),
    3vw 16vh 0 2px var(--star-full-color),
    39vw 19vh 0 2px var(--star-full-color),
    30vw 17vh 0 2px var(--star-full-color),
    83vw 9vh 0 1px var(--star-full-color),
    55vw 30vh 0 1px var(--star-full-color),
    35vw 3vh 0 2px var(--star-full-color),
    91vw 31vh 0 2px var(--star-full-color),
    24vw 27vh 0 2px var(--star-full-color),
    76vw 3vh 0 2px var(--star-full-color),
    18vw 23vh 0 2px var(--star-full-color),
    8vw 17vh 0 1px var(--star-full-color),
    94vw 26vh 0 1px var(--star-full-color),
    16vw 22vh 0 1px var(--star-full-color),
    1vw 45vh 0 1px var(--star-full-color),
    12vw 44vh 0 1px var(--star-full-color),
    72vw 11vh 0 2px var(--star-full-color),
    54vw 25vh 0 1px var(--star-full-color),
    42vw 7vh 0 2px var(--star-full-color),
    10vw 23vh 0 1px var(--star-full-color),
    60vw 9vh 0 2px var(--star-full-color);
}

nav {
  background-color: var(--dark);
  color: white;
  height: 6vh;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
  text-transform: uppercase;
  font-size: 1rem;
  z-index: 100;
}
.nav-lists {
  display: flex;
  justify-content: center;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list a {
  text-decoration: none;
  color: var(--light);
  padding: 0.8rem 0.5rem;
  letter-spacing: 0.15ch;
  transition: all ease-in-out 300ms;
  cursor: pointer;
}
.nav-list a:hover {
  color: var(--primary);
}
.nav-left-margin li {
  margin-left: 1rem;
}
.nav-right-margin li {
  margin-right: 1rem;
}

.section {
  padding: 5rem 1rem 4rem;
}

.section h1 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1ch;
  font-size: 54px;
}
.section > p {
  margin: 0 auto;
}
.section p {
  max-width: 60ch;
}
.section p + p {
  margin-top: 2rem;
}
.section .subtitle {
  text-align: center;
  font-weight: 400;
  color: var(--secondary);
  line-height: 0.5;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  list-style: none;
  justify-content: center;
  gap: 1em;
  margin-top: 2rem;
}
.gallery-item {
  padding: 1em;
  text-decoration: none;
  color: inherit;
  transition: all 250ms ease-in-out;
  box-shadow: 2px 2px 10px #ddd;
  display: grid;
  grid-template-rows: 12rem auto 1fr max-content max-content;
}

.gallery-item img {
  max-width: 100%;
  height: 10rem;
  justify-self: center;
  align-self: center;
  object-fit: contain;
}
.gallery-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.1ch;
  margin-top: 0.8rem;
  margin-bottom: 0.3rem;
}
.gallery-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  margin: 1em auto 0;
  align-self: end;
}
.button {
  font-size: 0.9rem;
  color: var(--dark_accent);
  font-weight: 500;
  border: 1px solid var(--dark-accent);
  display: block;
  padding: 0.5rem 0.7rem;
  margin: 1rem auto;
  text-decoration: none;
  transition: all 250ms ease-in-out;
  text-align: center;
  position: relative;
  z-index: 0;
  transition: 300ms all ease-in-out;
}

.button.primary {
  color: var(--light);
  background-color: var(--primary);
  border-color: var(--primary);
}

.button::after {
  content: "";
  background-color: var(--accent);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
  transform: scale(0, 1);
  transform-origin: left;
  transition: 300ms all ease-in-out;
}

.button.primary::after {
  background-color: var(--light);
}

.button:hover {
  color: var(--light);
}
.button:hover::after {
  transform: scale(1, 1);
}
.button.primary:hover {
  color: var(--primary);
}

.technologies {
  text-align: center;
}
.skill,
.technology {
  color: rgba(0, 0, 0, 0.65);
  background-color: rgba(0, 0, 0, 0.04);
  font-size: 13px;
  padding: 0.5em 1em;
  line-height: 2.5rem;
}

.personal-info {
  margin-bottom: 2rem;
}
.skill-list {
  line-height: 3;
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}
.skill {
  background-color: var(--primary);
  color: var(--light);
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0 1.3em;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.tech-icon {
  color: white;
  fill: white;
}
.tech-icon:before {
  margin-right: 0.5rem;
}

.contact-links {
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.contact-link {
  color: var(--accent);
  transition: 200ms all ease-in-out;
}

.contact-link:hover {
  color: var(--secondary);
}

.contact-link + .contact-link {
  margin-left: 2rem;
}

/* Contact Form Styling */
.contact-form {
  display: grid;
  max-width: 50ch;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  box-shadow: 2px 2px 10px #eeeeee;
}
.contact-title {
  text-align: center;
}
.contact-label {
  /* font-weight: 400; */
  letter-spacing: 0.2ch;
  margin-top: 1em;
}
.contact-label span {
  color: red;
}
.contact-input,
.contact-message {
  border: none;
  background-color: #eeeeee;
  padding: 1em;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  transition: 300ms all ease-in-out;
}
.contact-input:focus,
.contact-message:focus {
  background-color: #f5ece1;
}

.contact-message {
  height: 20ch;
  width: 100%;
  resize: none;
}
.contact-submit {
  font-family: inherit;
  margin-top: 2rem;
  padding: 0.9em 2.5em;
  cursor: pointer;
  outline: none;
  transition: all ease-in-out 300ms;
}

.li-when-large,
.flex-when-large {
  display: none;
}

.somewhere-around-here {
  color: var(--accent);
  font-weight: 400;
  display: inline-block;
  transition: all ease-in-out 200ms;
}
.somewhere-around-here:hover {
  color: var(--secondary);
}

.shrink {
  transform: scale(1, 0);
}

@keyframes background-gradient {
  0% {
    transform: translate(5%, -2%);
  }

  25% {
    transform: translate(10%, 10%);
  }

  40% {
    transform: rotate(-10deg);
  }

  60% {
    transform: translate(7%, -2%);
  }

  85% {
    transform: translate(6%, 3%) rotate(12deg);
  }

  100% {
    transform: none;
  }
}

.hidden {
  opacity: 0 !important;
  transition: opacity 400ms ease-in-out;
}

#copyElement {
  position: relative;
}

@media only screen and (min-width: 800px) {
  .row {
    display: flex;
  }
  .personal-info {
    width: max-content;
    max-width: 50ch;
  }
  .professional-skills {
    margin-left: 3rem;
    max-width: 40ch;
  }
  .nav-lists {
    justify-content: space-between;
  }
  .flex-when-large {
    display: flex;
  }
  .li-when-large {
    display: list-item;
  }

  .stars {
    box-shadow: 34vw 12vh 0 1px var(--star-full-color),
      98vw 7vh 0 2px var(--star-full-color),
      68vw 18vh 0 2px var(--star-full-color),
      55vw 21vh 0 2px var(--star-full-color),
      31vw 17vh 0 2px var(--star-full-color),
      30vw 38vh 0 1px var(--star-full-color),
      67vw 16vh 0 2px var(--star-full-color),
      79vw 22vh 0 2px var(--star-full-color),
      83vw 18vh 0 1px var(--star-full-color),
      82vw 35vh 0 2px var(--star-full-color),
      24vw 2vh 0 2px var(--star-full-color),
      43vw 8vh 0 2px var(--star-full-color),
      99vw 45vh 0 2px var(--star-full-color),
      72vw 27vh 0 1px var(--star-full-color),
      49vw 29vh 0 1px var(--star-full-color),
      55vw 37vh 0 1px var(--star-full-color),
      92vw 39vh 0 2px var(--star-full-color),
      93vw 44vh 0 2px var(--star-full-color),
      33vw 14vh 0 2px var(--star-full-color),
      70vw 20vh 0 2px var(--star-full-color),
      73vw 28vh 0 1px var(--star-full-color),
      88vw 10vh 0 2px var(--star-full-color),
      16vw 41vh 0 2px var(--star-full-color),
      53vw 4vh 0 2px var(--star-full-color),
      73vw 19vh 0 2px var(--star-full-color),
      56vw 19vh 0 2px var(--star-full-color),
      94vw 25vh 0 2px var(--star-full-color),
      18vw 10vh 0 1px var(--star-full-color),
      79vw 4vh 0 2px var(--star-full-color),
      43vw 20vh 0 2px var(--star-full-color),
      9vw 14vh 0 2px var(--star-full-color),
      11vw 7vh 0 2px var(--star-full-color),
      63vw 20vh 0 1px var(--star-full-color),
      62vw 50vh 0 1px var(--star-full-color),
      97vw 33vh 0 1px var(--star-full-color),
      74vw 1vh 0 2px var(--star-full-color),
      47vw 20vh 0 2px var(--star-full-color),
      82vw 28vh 0 1px var(--star-full-color),
      13vw 2vh 0 1px var(--star-full-color),
      18vw 43vh 0 1px var(--star-full-color),
      12vw 15vh 0 1px var(--star-full-color),
      8vw 24vh 0 1px var(--star-full-color),
      24vw 44vh 0 2px var(--star-full-color),
      71vw 40vh 0 1px var(--star-full-color),
      77vw 41vh 0 1px var(--star-full-color),
      52vw 38vh 0 1px var(--star-full-color),
      6vw 36vh 0 2px var(--star-full-color),
      39vw 25vh 0 1px var(--star-full-color),
      8vw 31vh 0 2px var(--star-full-color),
      52vw 34vh 0 1px var(--star-full-color),
      30vw 2vh 0 1px var(--star-full-color),
      26vw 45vh 0 2px var(--star-full-color),
      47vw 11vh 0 2px var(--star-full-color),
      87vw 26vh 0 2px var(--star-full-color),
      93vw 31vh 0 2px var(--star-full-color),
      44vw 17vh 0 2px var(--star-full-color),
      21vw 12vh 0 2px var(--star-full-color),
      98vw 13vh 0 2px var(--star-full-color),
      10vw 39vh 0 1px var(--star-full-color),
      3vw 31vh 0 2px var(--star-full-color),
      8vw 7vh 0 2px var(--star-full-color),
      99vw 1vh 0 2px var(--star-full-color),
      36vw 20vh 0 2px var(--star-full-color),
      81vw 1vh 0 1px var(--star-full-color),
      69vw 28vh 0 2px var(--star-full-color),
      26vw 36vh 0 2px var(--star-full-color),
      29vw 49vh 0 1px var(--star-full-color),
      3vw 16vh 0 2px var(--star-full-color),
      18vw 37vh 0 1px var(--star-full-color),
      93vw 44vh 0 1px var(--star-full-color),
      39vw 19vh 0 2px var(--star-full-color),
      86vw 3vh 0 2px var(--star-full-color),
      75vw 39vh 0 1px var(--star-full-color),
      30vw 17vh 0 2px var(--star-full-color),
      83vw 9vh 0 1px var(--star-full-color),
      55vw 30vh 0 1px var(--star-full-color),
      35vw 3vh 0 2px var(--star-full-color),
      71vw 39vh 0 2px var(--star-full-color),
      91vw 31vh 0 2px var(--star-full-color),
      24vw 27vh 0 2px var(--star-full-color),
      76vw 3vh 0 2px var(--star-full-color),
      20vw 1vh 0 2px var(--star-full-color),
      9vw 19vh 0 2px var(--star-full-color),
      2vw 18vh 0 1px var(--star-full-color),
      18vw 23vh 0 2px var(--star-full-color),
      8vw 17vh 0 1px var(--star-full-color),
      94vw 26vh 0 1px var(--star-full-color),
      16vw 22vh 0 1px var(--star-full-color),
      90vw 24vh 0 1px var(--star-full-color),
      1vw 45vh 0 1px var(--star-full-color),
      12vw 44vh 0 1px var(--star-full-color),
      72vw 11vh 0 2px var(--star-full-color),
      54vw 25vh 0 1px var(--star-full-color),
      42vw 7vh 0 2px var(--star-full-color),
      44vw 42vh 0 1px var(--star-full-color),
      46vw 50vh 0 1px var(--star-full-color),
      61vw 8vh 0 2px var(--star-full-color),
      4vw 41vh 0 1px var(--star-full-color),
      10vw 23vh 0 1px var(--star-full-color),
      60vw 9vh 0 2px var(--star-full-color),
      18vw 11vh 0 0 var(--star-full-color);
  }

  .copy-message {
    color: var(--light);
    position: absolute;
    bottom: 0;
    right: 2vw;
    z-index: 10000000;
    opacity: 1;
  }
}

/* @media only screen and (min-width: 1575px) {
  .gallery-buttons {
    
  }
} */
